
.App-header {
    background-color: aqua;
    color: rgb(0, 0, 0);
    height: 200px;
    margin-top: 0px;
    padding: 0px;
}

.headerTitle {
    margin-top: 0rem;
    text-align: center;
}

.headerSubTitle {
    background-color: greenyellow;
    height: 200px;
}

.headerH3 {
    margin-left: 5rem;
    margin-top: 1rem;
    font-size: 2rem;
    padding: .5rem;
}

.headerP {
    margin-left: 5rem;
}

.buttonSection{
    height: 100px;
    background-color: darkgreen;
    align-content: center;

}

.buttonDemo {
    background-color: gray;
    border-radius: 60px;

    margin-top: 1rem;

    
}
.App-songs {
    --xzy-d65: linear-gradient(to right in xyz-d65, black, white);
    margin-top: 100px;
    padding: 0px;
}

.songsContent {
    background-color: gray;
}

.songsTitle {
    margin-top: 0rem;
}
